---
import Layout from '../layouts/Layout.astro';
import NavBar from '../components/NavBar.astro';
import Seccion1 from '../components/Seccion1.astro';
import Seccion2 from '../components/Seccion2.astro';
import ContactosForm from '../components/Contactos';
---

<Layout title="neurosoft.dev">
  <NavBar />
  <main>
    <section>
      <h1>Impulsa tu <strong>Presencia Digital</strong></h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis dicta accusantium repellendus, ipsam dolor eum cumque similique fugit atque.</p>
      <h2>Hazlo con nosotros</h2>
      <button>Contactanos</button>
    </section>
    <img src="/arrow-down.svg" alt="arrow down" />
    <Seccion1 />
    <Seccion2 />
  </main>
</Layout>

<style>
  section {
    width: 50%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0;
  }
  section h1 {
    margin: 0;
    font-size: 66px;
    font-weight: 700;
    text-align: center;
    margin-top: 5rem;
    letter-spacing: -1px;
    & strong {
      display: block;
      color: rgb(var(--primary));
      margin-top: -1.1rem;
    }
  }
  section p {
    text-wrap-style: pretty;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: black;
    letter-spacing: -1px;
  }
  section h2 {
    margin: 0;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: -1px;
  }
  section button {
    margin-top: 1rem;
    background-color: rgb(var(--primary));
    color: white;
    border: none;
    padding: 1rem 1.5rem;
    font-size: 15px;
    border-radius: 999px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 0 10px rgba(var(--primary), 0.5);
    &:hover {
      background-color: rgba(var(--primary), 0.8);
      color: white;
      transform: scale(1.1);
    }
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    gap: 4rem;
  }
  main img {
    width: 35px;
    animation: desplazar-abajo 2s ease-in-out infinite;
  }

  @keyframes desplazar-abajo {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}
</style>