---
import { Image } from 'astro:assets';
---

<section>
  <h2>Innovación Impulsada por Datos</h2>
  <div class="separator" />
  <div class="card">
    <Image src="/seccion-1.webp" alt="card 1" width={450} height={450} />
    <p>Utilizamos análisis de datos para informar y mejorar constantemente nuestras soluciones. Esto garantiza que nuestras aplicaciones, páginas web y chatbots estén siempre en la vanguardia de la tecnología.</p>
  </div>
  <div>
  </div>
</section>

<style>
  section {
    width: 100%;
    height: auto;
  }
  section h2 {
    text-align: center;
    font-weight: 700;
    font-size: 50px;
    letter-spacing: -1px;
  }
  .separator {
    margin: -1.5rem auto 0 auto;
    width: 60%;
    height: 7px;
    background-color: rgb(var(--accent-separtator));
    border-radius: 999px;
  }
  .card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 35px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 75%;
    padding: 20px;
    margin: 1rem auto 0 auto;
  }
  .card img {
    width: 45%;
    border-radius: 30px;
  }
  .card p {
    padding-left: 20px;
    font-size: 30px;
    text-align: start;
    text-wrap-style: pretty;
  }

  @media (max-width: 768px) {
  section h2 {
    padding: 0 1.5rem;
    font-size: 28px; /* Reducir el tamaño de la fuente en h2 */
  }

  .separator {
    width: 80%; /* Ajustar el ancho del separador */
    height: 5px; /* Reducir la altura del separador */
  }

  .card {
    flex-direction: column; /* Apilar los elementos verticalmente */
    width: 90%; /* Reducir el ancho de la tarjeta en móviles */
    padding: 15px; /* Reducir el padding */
  }

  .card img {
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 20px;
  }

  .card p {
    padding-left: 0; /* Eliminar el padding izquierdo */
    font-size: 20px; /* Reducir el tamaño de la fuente */
    text-align: center; /* Centrar el texto para móviles */
    text-wrap-style: balance;
  }
}
</style>