---
import ContactosForm from "./ContactForm";

---

<section id="contactos">
    <h2>Contáctanos</h2>
    <div class="separator" />
    <div class="container-contactos">
      <ContactosForm client:load />
      <div class="separator-vertical" />
      <div>
        <article class="email_container">
          <p class="email-label">Correo Electrónico:</p>
          <a href="mailto:support@neurosoft.dev" class="email-value">support@neurosoft.dev</a>
        </article>
        <article class="telefono">
          <p class="tel_label">Teléfonos:</p>
          <div class="tel_value_container">
            <p class="tel_value">USA: <a href="tel:+13476530431">(347) 653-0431</a></p>
            <p class="tel_value">Rep. Dom: <a href="tel:+18294513026">(829) 451-3026</a></p>
          </div>
        </article>
      </div>
    </div>
</section>

<style>
section {
  width: 100%;
  color: white;
  margin: 5rem 0 2.5rem 0;
}

section h2 {
  text-align: center;
  font-weight: 700;
  font-size: 40px; /* Ajuste de tamaño de fuente */
  margin: 0;
  letter-spacing: -1px;
}

.separator {
  background-color: #97BED2;
  margin: 1.5rem;
  width: 70%;
  height: 7px;
  border-radius: 999px;
  margin: 0 auto;
}

.separator-vertical {
  background-color: #97BED2;
  height: 100%;
  width: 7px;
  border-radius: 999px;
  margin: 0 auto;
}

.container-contactos {
  margin: 1rem auto 0;
  background-color: rgba(217, 217, 217, 0.10);
  display: grid;
  grid-template-columns: 1fr 7px 1fr; /* Diseño de dos columnas */
  place-items: center;
  gap: 2.5rem;
  width: 90%;
  border-radius: 30px;
  padding: 3rem;
}

.email_container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.email-label, .tel_label {
  font-size: 28px;
  font-weight: 500;
}

.email-value, .tel_value {
  font-size: 28px;
  font-weight: 700;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.telefono {
  display: flex;
  flex-direction: column;
  gap: 0;
  align-items: center;
  justify-content: center;
}

.tel_value_container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

/* Media queries para hacer el diseño responsive */

/* Ajustes para tablets */
@media (max-width: 1024px) {
  section h2 {
    font-size: 36px; /* Ajuste de tamaño de fuente para tablets */
  }

  .container-contactos {
    grid-template-columns: 1fr; /* Cambia a una columna */
    gap: 2rem;

    padding: 2rem;
  }

  .separator-vertical {
    display: none; /* Oculta la línea vertical */
  }

  .email_container, .telefono {
    gap: 1rem;
  }

  .email-label, .tel_label {
    font-size: 24px; /* Reducir tamaño de texto */
  }

  .email-value, .tel_value {
    font-size: 24px;
  }
}

/* Ajustes para móviles */
@media (max-width: 768px) {
  section h2 {
    font-size: 28px; /* Ajuste de tamaño de fuente para móviles */
  }

  .container-contactos {
    grid-template-columns: 1fr; /* Cambia a una columna */
    width: 80%;
    padding: 1.5rem;
  }

  .email-label, .tel_label {
    font-size: 20px; /* Reducir tamaño de texto */
  }

  .email-value, .tel_value {
    font-size: 20px; /* Reducir tamaño de texto */
  }

  .email_container, .telefono {
    gap: 0.5rem;
  }

  .separator-vertical {
    display: none; /* Oculta la línea vertical */
  }

  a {
    font-size: 18px;
  }
}

</style>