---
import '@fontsource/twinkle-star';
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
    <meta name="description" content="Desarrollo de apps moviles | Desarrollo de paginas web | Inteligencia Artificial">
    <meta name="robots" content="index,follow">
    <meta name="author" content="Edwin Espinal">
    <meta name="keywords" content="Neurosoft, Neurosoft.dev, Neurosoft.dev, Neurosoft, Neurosoft.dev, Neurosoft.dev, Neurosoft, Neurosoft.dev, Neurosoft.dev, Neurosoft, Neurosoft.dev, Neurosoft.dev">
    <meta property="og:site_name" content="neurosoft.dev">
    <meta property="og:title" content="neurosoft.dev">
    <meta property="og:description" content="Desarrollo de apps moviles | Desarrollo de paginas web | Inteligencia Artificial">
    <meta property="og:url" content="https://neurosoft.dev/">
    <meta property="og:image" content="https://neurosoft.vercel.app/favicon.svg" />
    <meta name="twitter:card" content="summary">
    <meta property="twitter:description" content="Desarrollo de apps moviles | Desarrollo de paginas web | Inteligencia Artificial">
    <meta property="twitter:title" content="neurosoft.dev">
		<title>{title}</title>
	</head>
	<body>
		<slot />
    <img class="img-gradient" src="/bg-gradient.svg" alt="gradient" class="gradient" />
	</body>
</html>
<style is:global>
	:root {
    --primary: 18, 26, 45;
    --secondary: 158, 158, 158;
    --accent-separtator: 217, 217, 217;
	}
	html {
    font-family: "Poppins", system-ui, sans-serif;
    scroll-behavior: smooth;
	}
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .img-gradient {
    position: absolute;
    right: 0;
    width: 100%;
    top: -10rem;
    z-index: -1;
    user-select: none;
  }
  @media (max-width: 768px) {
    .img-gradient {
      top: 18rem;
    }
  }

</style>
